body
{
  margin: 0;
  font-family: bau;
}

div#empty-message
{
  font-size: 10em;
  color: darkgrey;
  position: fixed;
  top: 100px;
}

div.column 
{
  width: 25%;
  float: left;
}

div.headlet
{
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
  transition: height 100ms;
  height: 2em;
}

div.headlet:hover {
  height: 40px
}

div.headlet:hover .add-button
{
  display: inherit;
}

div.headlet .add-button
{
  display: none;
  font-size: 2em;
  cursor: pointer;
}

div.headlet .add-button:hover
{
  color: darkgray;
}

div.tile
{
  border-left: black 10px solid;
  border-bottom: black 10px solid;
  border-right: black 10px solid;
  margin-left: -5px;
  width: calc(100% - 10px);
  cursor: pointer;
  transition: margin-top 100ms;
  position: static;
}

div#col3 div.tile.expanded
{
  margin-left: calc(-5px - 100%);
  width: calc(200% - 15px);
}

div#col2 div.tile.expanded
{
  width: calc(200% - 15px);
}

div.tile.expanded
{
  height: 620px;
  width: calc(200% - 10px);
  transition-delay: 200ms;
  transition: height 80ms;
  transition: width 80ms;
  position: relative;
  margin-top: -10px;
  border-top: black 10px solid;
}

div.tile.expanded .description
{
  height: calc(100% - 90px);
}

div.tile .submit
{
  display: none;
}

div.tile.expanded .submit
{
  display: inherit; 
}

input.submit:hover {
  background-color: black;
}

input.submit {
  float: right;
  margin-top: 8px;
  width: 80px;
  margin-right: 10px;
  border-style: none;
  padding: 5px;
  background-color: darkgray;
  color: white;
  font-weight: bold;
}

div.tile .tile-container
{
  float: left;
  display: block;
  width: 60%;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 10px;
}

div.tile .indicator
{
  height: 20px;
  width: 20px;
  margin-right: 10px;
  background-color: black;
  float: right;
  display: none;
}

div.tile.active .indicator
{
  display: block;
}

div.col-container .tile:last-child
{
  border-bottom: black 10px solid;
}

div#col3 div.tile
{
  width: calc(100% - 15px);
}

div.one
{
  height: 100px;
}

div.two
{
  height: 200px;
}

div.three
{
  height: 400px;
}

div.tile .title
{
  text-transform: uppercase;
}

div.tile input.title
{
  border: none;
  font-weight: bold;
  outline: none;
  font-size: 1em;
  width: 100%;
}

div.tile .description
{
  font-family: scp;
  width: calc(100% - 10px);
  height: calc(100% - 60px);
  padding: 10px;
  background-color: whitesmoke;
  /* white-space: pre; */
  overflow: hidden;
  border: none;
  outline: none;
  resize: none;
  font-size: 1em;
}

div#col3 div.tile div.description
{
  width: calc(100% - 20px);
}

div.tile .assignee
{
  display: none;
}

div.tile input.author
{
  outline: none;
  border: none;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

